<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="scopeTest" class="com.atguigu.spring.pojo.Student">
        <property name="sid" value="1"></property>
        <property name="age" value="12"></property>
    </bean>-->
    <bean id="scopeTest" class="com.atguigu.spring.pojo.Student" scope="prototype">
        <property name="sid" value="1"></property>
        <property name="age" value="12"></property>
    </bean>
</beans>