<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="userdao" class="com.atguigu.spring.dao.impl.UserDAOImpl"></bean>

    <bean id="userservice" class="com.atguigu.spring.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userdao"/>
    </bean>

    <bean id="usercontroller" class="com.atguigu.spring.controller.UserContrller">
        <property name="userService" ref="userservice"></property>
    </bean>-->

    <bean id="userdao" class="com.atguigu.spring.dao.impl.UserDAOImpl"></bean>
    <bean id="userservice" class="com.atguigu.spring.service.impl.UserServiceImpl" autowire="byType"></bean>
    <bean id="usercontroller" class="com.atguigu.spring.controller.UserContrller" autowire="byType"></bean>

</beans>